Variables et types

En Python, il y a 4 types de base :
*   int (entier)
*   float (réel)
*   bool (booléen)
*   chaine de caractères (str)

In [ ]:
# variable de type int et de nom x
# En langage C : int x=10
# Le langage Python est faiblement typé (weekly typed)
x=10

**Le langage Python est faiblement typé (weekly typed)**

Pour déclarer une variable, on n'indique pas le type explicitement.

Plutôt, C'est Python qui déduit le type de la variable à partir de sa valeur

In [ ]:
type(x)

int

In [ ]:
# variable de nom x et de type float
x=10.

In [ ]:
type(x)

float

**Les commentaires :**

En langage C, les commentaires sont écrites en utilisant soit /* code */ soit // code

En Python, on utilise plutôt #

**Python : langage dynamique**

En langage C, une variable ne peut avoir qu'un seul type tout au long du programme.

En Python, une variable peut changer de type à tout moment

In [ ]:
# déclarer une variable de nom temperature_haute et de type booléen
# Le nom de vairable temperature tout court n'est pas significatif
# Plutôt, pour une variable booléenne, on a besoin d'un nom qui qualifie l'évènement : "Est ce que la temperature est haute ?"
# La valeur de cette variable est la reponse à cette question : Soit True soit False
temperature_haute=True

In [ ]:
type(temperature_haute)

bool

In [ ]:
# Pour stoquer la valeur de temperature, on a besoin d'une variable de type entier (int)
# Le nom approprié est temperature
temperature=30

In [ ]:
# variable de type chaine de caractères
nom="Ali"

In [ ]:
type(nom)

str

In [ ]:
nom='Ali'

In [ ]:
nom='''Ali'''

In [ ]:
nom="L'école"

In [ ]:
nom='Mon est nom est "Ali"'

In [ ]:
nom='''L'étudiant s'appelle "Ali"'''

In [ ]:
nom

'L\'étudiant s\'appelle "Ali"'

In [ ]:
nom='L\'étudiant s\'appelle \"Ali\"'

In [ ]:
nom

'L\'étudiant s\'appelle "Ali"'

**Exercice 1:**

Déclarer les variables necerssaires qui caracterisent une personne: son nom, son age, son salaire et est ce qu'il est celibataire ?

In [ ]:
nom="Ali"
age=34
salaire=1200.7654
est_celibataire=False

**Sortie standard (Affichage sur la console)**

En langage C, on utilise la fonction printf()

En Python, on utilise plutôt print()

In [ ]:
print('hello')

hello

In [ ]:
print("hello")

hello

In [ ]:
print('hello','world')

hello world

In [ ]:
print(salaire)

1200.7654

In [ ]:
print(age)

34

In [ ]:
print(nom)

Ali

In [ ]:
print(est_celibataire)

False

Afficher toutes les informations de la personne dans un seul message

Exemple:

Ali a comme salaire 1200.77655 et comme age 34. Celibataire : False

In [ ]:
print(nom,"a comme salaire",salaire,"et comme age",age,". Celibataire :",est_celibataire)

Ali a comme salaire 1200.7654 et comme age 34 . Celibataire : False

**Entrée standard (à partir du clavier)**

En langage C, on saisit les informations en utilisant la fonction scanf()

En Python, on le fait avec la fonction input()

In [ ]:
input()

Ali

'Ali'

Si on appelle la fonction input(), on a besoin de specifier :
- Message prompt qui indique quoi saisir
- Variable qui reçoit la valeur saisie

In [ ]:
nom=input("Entrer le nom:")

Entrer le nom:Ali

In [ ]:
print(nom)

Ali

**Exercice:**

Ecire le code qui permet de :
- saisir deux entiers
- calculer la somme
- afficher le résultat de calcul

Exemple:

Entrer un nombre :4

Entrer un nombre :5

4+5=9

**Remarque:**

La fonction input() retourne toujours une chaine de caractères

In [ ]:
n1=input('Entrer un nombre:')
n2=input('Entrer un nombre:')
s=n1+n2
print(n1,"+",n2,"=",s)

Entrer un nombre:4
Entrer un nombre:5
4 + 5 = 45

Remarque:

Dans le code ci-dessus,
- Dans les deux premières lignes, n1 et n2 sont deux chaibes de caractères
-La ligne de code s=n1+n2 a concatiné n1 et n2

Correction du code:

In [ ]:
n1=input('Entrer un nombre:')
n2=input('Entrer un nombre:')
# Convertir n1 en entier
n1=int(n1)
# Convertir n2 en entier
n2=int(n2)
# On est sûr que s reçoit la somme de deux entiers n1 et n2
s=n1+n2
print(n1,"+",n2,"=",s)

Entrer un nombre:4
Entrer un nombre:5
4 + 5 = 9

On peut optimiser le code comme suit :

    n1=input('Entrer un nombre:')
    # Convertir n1 en entier
    n1=int(n1)

On peut les remplacer par une seule ligne de code :

    # Saisir et convertir n1 en entier
    n1=int(input('Entrer un nombre:'))

In [ ]:
n1=int(input('Entrer un nombre:'))
n2=int(input('Entrer un nombre:'))
s=n1+n2
print(n1,"+",n2,"=",s)

Entrer un nombre:4
Entrer un nombre:5
4 + 5 = 9