<b>Devoir surveillé</b>

<b>Module : Programmation Python</b>

<b>Classe : Licence info 1</b>

Répondre aux questions en remplaçant le symbole `#?` par le code necessaire

<b>Exercice 1 (8 pt)</b>

1. Ecrire une ligne de code qui permet de saisir une chaine de caractères `s`. (1 pt)

<u>Exemple:</u>

    Entrez votre nom :ahmed

In [36]:
s=input('Entrez votre nom:')
s

'ahmed'

2. Ecrire une ligne de code qui permet de supprimer les espaces d'une chaine `s` (1 pt)

In [22]:
s="   a   hm    e    d   "
s.replace(" ","")

'ahmed'

3. Ecrire une ligne de code qui permet de diviser une chaine `s` en sous-chaines en se basant sur le séparateur `,` et les mettre dans une liste `mots` (1 pt)

In [37]:
s="ahmed,sonia,walid,rahma"
mots=s.split(',')
mots

['ahmed', 'sonia', 'walid', 'rahma']

4. Ecrire une ligne de code qui permet de rendre la chaine `s` en majuscule (1 pt)

In [27]:
s='ahmed'
s.upper()

'AHMED'

5. Ecrire une ligne de code qui permet d'extraire les 3 premiers caractères de `s` (1 pt)

In [28]:
s='ahmed'
s[:3]

'ahm'

6. Ecrire une ligne de code qui permet d'extraire les 3 premiers caractères de `s` en Majuscule (1 pt)

In [32]:
s='ahmed'
s[:3].upper()

'AHM'

7. Ecrire une ligne de code qui permet de rassembler les chaines de la liste `mots` en une seule chaine en mettant `,` entre les mots (1 pt)

In [31]:
mots=['ahmed','sonia','raed']
','.join(mots)

'ahmed,sonia,raed'

8. Ecrire un code qui permet de saisir et vérifier si une chaine `s` est valide (1 pt)

    `s` est valide si elle commence et se termine par la lettre `'A'`
    Sinon elle est invalide

<u>Exemple 1 :</u>

        Entrez un nom :AlA
        AlA est valide

<u>Exemple 2 :</u>

        Entrez un nom :Ala
        Ala est invalide

In [ ]:
s=input('Entrez un nom:')
if s[0]=='A' and s[-1]=='A':
    print(s,'est valide')
else:
    print(s,'est invalide')

<b>Exercice 2 (12 pt)</b>

Vous allez utiliser les astuces de l'exercice 1 pour répondre aux questions de l'exercice 2.

1. Ecrire une ligne de code qui permet de saisir dans une chaine `s` plusieurs noms séparés par `,` avec la possibilité qu'il y a des espaces, comme dans l'exemple ci-dessous (0.5 pt)

<u>Exemple:</u>

        Entrez des noms : moufida,  salma  ,   Abdelrahman ,  roua

In [13]:
s=input('Entrez des noms')

In [14]:
s

' moufida, salma  , Abdelrahman , roua'

2. Ecrire un code qui permet d'extraire la liste des noms `noms` à partir de la chaine `s` (1.5 pt)

<u>Exemple:</u>

La liste `noms` obtenue :

    ['moufida', 'salma', 'Abdelrahman','roua']

In [15]:
noms=s.replace(" ","").split(',')

In [16]:
noms

['moufida', 'salma', 'Abdelrahman', 'roua']

3. Ecrire un code qui permet de rendre tous les noms de `noms` en majuscule (2 pt)

<u>Exemple :</u>

La liste `noms` deviendra :

        ['MOUFIDA', 'SALMA', 'ABDELRAHMAN', 'ROUA']

In [17]:
for i in range(len(noms)):
    noms[i]=noms[i].upper()

In [18]:
noms

['MOUFIDA', 'SALMA', 'ABDELRAHMAN', 'ROUA']

4. Affichez les 3 premières lettres de chaque nom dans une ligne à part (2 pt)

<u>Exemple :</u>

L'affichage est normalement :

    MOU
    SAL
    ABD
    ROU

In [19]:
for i in range(len(noms)):
    print(noms[i][:3])

MOU
SAL
ABD
ROU

5. Déterminez le nom le plus long dans la liste `noms` (2 pt)

<u>Exemple :</u>

On obtient normalement :

    Le nom le plus long est ABDELRAHMAN

In [20]:
nom_plus_long=noms[0]
indice_nom_long=0
for i in range(1,len(noms)):
    if len(noms[i])>len(nom_plus_long):
        nom_plus_long=noms[i]
        indice_nom_long=i
print('Le nom le plus long :',nom_plus_long)

Le nom le plus long : ABDELRAHMAN

6. Affichez tous les noms de la liste, chacun dans une ligne à part, sans utiliser la boucle `for` (2 pt)

In [30]:
print('\n'.join(noms))

MOUFIDA
SALMA
ABDELRAHMAN
ROUA

7. Ecrire un code qui rassemble les 3 dernières lettres des noms ayant une longueur supérieure ou égale à 5, en une seule chaine en mettant en eux `**` (2 pt)

<u>Exemple :</u>

Dans la liste noms, les noms ayant longueur >=5 sont `MOUFIDA` , `SALMA` , `ABDELRAHMAN`

Normalement, on obtient :

    IDA**LMA**MAN

In [35]:
noms1=[]
for i in range(len(noms)):
    if len(noms[i])>=5:
        noms1.append(noms[i][-3:])
'**'.join(noms1)

'IDA**LMA**MAN'