<b>Objectifs :</b>
- Manipuler les <font color='red'>listes</font>

<b>Listes</b>

En Python, la structure des données qui représente l'idée du tableau s'appelle <font color='red'>liste</font>.

Une liste est une collection d'un <font color='red'>nombre quelconque d'éléments</font> qui peuvent être de <font color='red'>types différents</font>.

Une liste est déclarée en utilisant l'oéprateur `[ ]`

<u>Exemple :</u>

nombres = [10,20,30]
- Cette liste a comme longeur 3 
- Les éléments sont indexés par ordre : 0 , 1 , 2
- Ils sont aussi indexés avec des indices négatifs par ordre : -3 , -2 , -1
- On peut ajouter des éléments dans la liste
- On peut supprimer des éléments de la liste
- On peut modifier les élements de la liste
- On peut appliquer des opérateurs sur la liste
- Plusieurs fonctions sont associées à la liste qui permettent de lui appliquer des fonctionalités utiles.

1.Décalration d'une liste

In [1]:
# Déclarer une liste vide appelée noms avec le syntaxe suivant : noms = []
noms = []

In [2]:
# Déterminer la longueur de la liste noms avec la fonction len()
len(noms)

0

In [3]:
# Déclarer une liste des noms "ali" , "salma" , "ahmed" avec le syntaxe : noms = ["ali" , "salma" , "ahmed"]
noms=['ali','salma','ahmed']
noms

['ali', 'salma', 'ahmed']

In [4]:
# Déterminer la longueur de la liste noms avec la fonction len()
len(noms)

3

2.Indexation

In [5]:
# Accéder au premier élement de la liste noms
noms[0]

'ali'

In [6]:
# Accéder au dernier élement de la liste noms
noms[-1]

'ahmed'

In [7]:
# Accéder à l'élement d'indice 10 de la liste noms
# Normalement, Python va lancer une erreur !!
noms[10]

IndexError: list index out of range

3.Slicing

Soit une liste `noms`. 

Pour extraire une sous-liste à partir de `noms`, on utilise le mécanisme de `slicing` et on spécifie l'indice de départ `i` et l'indice d'arrivée `j` selon le syntaxe suivant :

        noms[i:j+1]

In [9]:
# Extraire la sous-liste composée de 2 premiers éléments de la liste noms
noms[0:2]

['ali', 'salma']

In [10]:
# On peut utiliser le syntaxe suivant pour avoir le même résultat
noms[:2]

['ali', 'salma']

In [11]:
# Extraire la sous-liste composée de 2 derniers éléments de la liste noms
noms[-2:]

['salma', 'ahmed']

In [12]:
# Inverser la liste des noms
noms[::-1]

['ahmed', 'salma', 'ali']

4.Modification des éléments de la liste

In [14]:
# Modifier le premier nom 'ali' et le remplacer par "rahma"
noms[0]='rahma'
noms

['rahma', 'salma', 'ahmed']

In [15]:
# Supprimer le dernier élément de la list en utilisant l'opérateur del
del noms[-1]

In [16]:
noms

['rahma', 'salma']

5.Opérations sur la liste

Opérateur +

In [17]:
# Soient les deux listes des noms
# noms1 = ["ali","salma"]
# noms2 = ["rahma","ahmed"]
# Utiliser l'oéprateur + pour contcaténer noms1 et noms2 dans noms
noms1 = ["ali","salma"]
noms2 = ["rahma","ahmed"]
noms=noms1+noms2
noms

['ali', 'salma', 'rahma', 'ahmed']

Opérateur *

In [18]:
# L'opérateur * permet de dupliquer une liste
# exemple
chaines=['hello','world']
chaines*3

['hello', 'world', 'hello', 'world', 'hello', 'world']

Opérateur +=

In [19]:
# L'oéprateur += permet d'ajouter une liste à la fin d'une autre liste
noms1=['ali','sonia']
noms2=['rahma']
noms1+=noms2

In [20]:
noms1

['ali', 'sonia', 'rahma']

Opérateurs de comparaison

In [27]:
noms1=['ali','sonia']
noms2=['ali','sonia']

In [28]:
noms1==noms2

True

In [29]:
noms1=['ali','sonia']
noms2=['ali','Sonia']

In [30]:
noms1==noms2

False

6. Fonctions associées à la liste

Fonction append

Permet d'ajouter un élément à la fin d'une liste

In [36]:
noms=['ali','salma',"ahmed"]

In [37]:
noms.append("rahma")

In [35]:
noms

['ali', 'salma', 'ahmed']

Fonction insert

Permet d'ajouter un élément à une position bien déterminée

In [39]:
noms=['ali','salma',"ahmed"]

In [40]:
# AJouter à l'indice 1
noms.insert(1,"rahma")

In [41]:
noms

['ali', 'rahma', 'salma', 'ahmed']