<b>Objectifs:</b>
- Boucle `while`
- L'instruction `break`
- <font color='red'>Formatage</font> d'une chaine

<b>Boucle while</b>
- Généralement, on utilise la boucle <font color='red'>while</font> si on ne connaît pas le nombre d'itérations au préalable.
- Son syntaxe :

        while condition :
            # code d'itération

- Dans la pratique, l'utilisation de la boucle while a besoin d'une variable pour "faire rouler la boucle"
- Il y a 3 actions necessaires sur cette variable :
    - Initialiser la variable
    - Utiliser la variable dans la condition de while
    - Modifier la variable dans l'itération de la boucle

<u>Exemple 1:</u>
- Pour afficher les entiers entre 5 et 10 en utilisant la boucle `for` :

In [3]:
for i in range(5,11,1):
    print(i)

5
6
7
8
9
10

<u>Exemple 1:</u>
- Pour afficher les entiers entre 5 et 10 en utilisant la boucle `while` :

In [2]:
i=5
while i<=10:
    print(i)
    i+=1

5
6
7
8
9
10

<u>Exemple 2:</u>

- Soit une liste des noms écrits en miniscule `noms`.
- Utiliser la boucle `for` Ecrire un code qui transforme ces noms en majusucle.

In [1]:
noms=['sonia','ali','rahma']
for i in range(len(noms)):
    noms[i]=noms[i].upper()
noms

['SONIA', 'ALI', 'RAHMA']

- Refaire la même chose en utilisant la boucle `while`.

In [4]:
noms=['sonia','ali','rahma']
i=0
while i<len(noms):
    noms[i]=noms[i].upper()
    i+=1
noms

['SONIA', 'ALI', 'RAHMA']

<b>Formattage d'une chaine</b>
- Le formattage permet de structurer les informations dans une chaine de caractères.
- Il est souvent utilisé dans l'affichage sur console.

<u>Exemple 1:</u> (qui justifie pourquoi on a besoin de formattage !)
- Etant donné les 3 listes informations des personnes, affichez ces informations sur la console.

In [5]:
noms=['sonia','ali','rahma']
salaires=[1200.7543,1850.67,2100.9]
ages=[25,31,38]
for i in range(len(noms)):
    print(noms[i],salaires[i],ages[i])

sonia 1200.7543 25
ali 1850.67 31
rahma 2100.9 38

- On peut facilement constater que l'affichage manque d'organisation ou plutôt il manque du format.
- Pour imposer un format, on peut utiliser l'opérateur de formattage `%`
- L'opérateur `%` est un opérateur binaire qui a deux opérandes :
  - une chaine à gauche qui contient le(s) format(s)
  - un tuple à droite qui contient des varibales

<u>Exemple 2:</u>
- Etant donné les informations (nom, salaire, age) d'une personne, on veut afficher ces informations tels que :
  - nom (de type str) affiché sur 10 caractères et aligné à gauche
  - salaire (de type float) affiché sur 10 caractères, arrondi à 2 chiffres après la virgule et aligné à gauche
  - age (de type int) affiché sur  5 caractères et aligné à gauche

In [6]:
nom='Ali'
salaire=1200.75
age=28

In [7]:
s='%-10s%-10.2f%-5d' % (nom,salaire,age)
s

'Ali       1200.75   28   '

In [8]:
print(s)

Ali       1200.75   28

Souvent, on combine `pirnt()` avec `%` en une seule ligne du code

In [9]:
print('%-10s%-10.2f%-5d' % (nom,salaire,age))

Ali       1200.75   28

Maintenant, on revient vers l'exemple 1 qui a demandé d'afficher les informations des personnes avec une boucle `for` et on lui applique l'opérateur `%`

In [10]:
noms=['sonia','ali','rahma']
salaires=[1200.7543,1850.67,2100.9]
ages=[25,31,38]
for i in range(len(noms)):
    print('%-10s%-10.2f%-5d' % (noms[i],salaires[i],ages[i]))

sonia     1200.75   25
ali       1850.67   31
rahma     2100.90   38