<b>Objectifs :</b>
- <font color='red'>Division</font> d'une chaine en une liste des sous-chaines
- <font color='red'>Jointure</font> d'une liste des chaines en une seule chaine
- Boucle <font color='red'>for</font>

<b>Division (Split) d'une chaine en une liste des sous-chaines</b>
- On a souvent besoin  de diviser une chaine de caractères (texte) en une liste des sous-chaines (mots).
- Pour le faire, on utilise la fonction <font color='red'>split</font> comme suit :
    - Si on l'applique sur une chaine sans rien passer comme argument, elle sépare la chine en se basant sur l'espace comme séparateur
    - Si on l'applique sur une chaine en passant un séparateur, elle découpe (split) la chaine chaque fois qu'elle le trouve

<u>Exemple:</u>
- Soit un texte (une chaine de caractères), composé des mots séparés par des espaces.
- On veut le découper en mots

In [8]:
texte="hello world and wolcome in our space"

In [9]:
# on utilise la fonction split()
# pour diviser une chaine en sous-chaines
# Par defaut elle se base sur le seperateur espace
# Elle retourne une liste
liste=s.split()

In [10]:
liste

['hello', 'world', 'and', 'wolcome', 'in', 'our', 'space']

In [11]:
# Si on passe comme argument une chaine qui n'existe pas dans s
# La fonction retourne une liste qui contient toute la chaine
liste=s.split('-')

In [12]:
liste

['hello world and wolcome in our space']

In [14]:
# Si on passe une chaine (wo) qui existe dans la chaine de depart
# ELle retourne une liste des mots separés par "wo"
liste=s.split("wo")

In [15]:
liste

['hello ', 'rld and ', 'lcome in our space']

In [17]:
type(liste)

list

In [18]:
len(liste)

3

<b>Jointure d'une liste de chaines en une seule chaine</b>
- Etant donné une liste des chaines, on peut les joindre en mettant un séparateur entre eux.
- On utilise la fonction <font color='red'>join</font>
- Son syntaxe :

        séparateur.join(liste)
<u>Exemple:</u>
- Soit la liste <font color='red'>mots</font>, une liste de 3 chaines.
- On veut joindre ces 3 chaines en mettant le séparateur "-" entre eux.

In [19]:
mots=["189","Tunis","2233"]

In [20]:
# Si on utilise une chaine vide avec join()
# On obtient une chaine dals laquelle toutes les chaine sont concatinées
mat="".join(mots)
mat

'189Tunis2233'

In [21]:
# On peut utiliser l'espace comme séparateur
mat=" ".join(mots)
mat

'189 Tunis 2233'

In [22]:
# On peut utiliser la chaine "-" comme séparateur
mat="-".join(mots)
mat

'189-Tunis-2233'

<b>Exercice :</b>
- Demander à l'utilisateur de saisir sa date de naissance selon le format jj/mm/aaaa.
- Vous allez extraire le jour, le mois et l'année.
- Vous allez lui affichez les informations comme indiqué dans l'exemple suivant :

        Donnez votre date de naissance (jj/mm/aaaa): 12/01/2000
        Jour : 12
        Mois: 01
        Année: 2000
        Date de naissance: 12-01-2000
        Age: 24 ans

<b>Solution :</b>

In [2]:
date_naissance=input('Donnez votre date de naissance:')
date_naissance

'12/01/2000'

In [3]:
liste=date_naissance.split("/")
liste

['12', '01', '2000']

In [4]:
jour=liste[0]
mois=liste[1]
annee=liste[2]

In [5]:
print("Jour:",jour)
print("Mois:",mois)
print("Année:",annee)

Jour: 12
Mois: 01
Année: 2000

In [6]:
date_naissance_new="-".join(liste)
date_naissance_new

'12-01-2000'

In [7]:
print("Date de naisance :", date_naissance_new)

Date de naisance : 12-01-2000

In [8]:
age=2024-int(annee)
age

24

In [9]:
print("Age:",age,"ans")

Age: 24 ans

<b>Boucle for</b>
- En général, une boucle est utilisée pour écrire un <font color='red'>code répétitif (itératif)</font>
- En Python, il y a deux boucles possibles:
    - Boucle <font color='red'>for</font> : Utilisée si on connait le nombre d'itérations
    - Boucle <font color='red'>while</font> : Utilisée si on ne connait pas le nombre d'itérations
- Dans cette partie, on s'intéresse à la boucle for. Son syntaxe est :

        for variable in liste :
            # code de l'itération

<u>Exemple 1:</u>
- Soit la liste des noms :

        noms=['ali','sonia','rahma']
- On veut afficher chaque noms dans une ligne

In [10]:
noms=['ali','sonia','rahma']

In [12]:
# code sans la boucle for
nom=noms[0]
print(nom)
nom=noms[1]
print(nom)
nom=noms[2]
print(nom)

ali
sonia
rahma

In [13]:
# code avec la boucle for
for nom in noms:
    print(nom)

ali
sonia
rahma

<u>Exemple 2:</u>
- On veut modifier les noms dans la liste de telle manière que chaque nom devienne en majuscule.
- Si on suit la même boucle que tout à l'heure :

        for nom in noms:
            nom = nom.upper()

- On constate que les noms dans la liste ne sont pas modifiés.
- En effet, le seul moyen pour modifier les cases de la liste consiste à <font color='red'>utiliser les indices des cases</font>.
- Ainsi, la boucle for qu'on doit utiliser doit parcourir les indices de la liste :

        for i in [0,1,2]:
            noms[i] = noms[i].upper()
        
- Le code ci-dessus fonctionne bien. Mais, ce n'est pas pratique d'écrire à la main la liste des valeurs des indices `[0,1,2]`
- On utilise plutôt la fonction <font color='red'>range</font>, qui génère une séquence des entiers
- Dans notre cas, on utilise cette fonction pour générer la liste des indices de la liste noms : `[0,1,2]` selon l'une des manières suivantes :
- `range(0,3,1)`
- `range(0,3)`
- `range(3)`
- `range(len(noms))`

In [14]:
for i in range(len(noms)):
    # La ième case de la liste noms[i] est modifiée
    noms[i]=noms[i].upper()

In [16]:
# On constate que les noms dans la liste deviennent en majuscule
noms

['ALI', 'SONIA', 'RAHMA']